Dear {{researcher}},

{{supervisor}} invites you to join '{{title}}' research.

{{text}}

{{description}}

[Link to join the research with text 'Join the research']

This email has been sent by Szkocka research group email robot