Dear {{researcher}},

{{message_creator}} has posted a post in '{{forum}}':

{{text}}

Answer on Szkocka: http://szkocka.org#/project/{{research_id}}/forum/{{forum_id}}


This email has been sent by Szkocka research group email robot